<%- layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h2 class="mb-4">Add New Listing</h2>
    <form action="/listings" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-lable">Enter Title</label>
        <input
          type="text"
          class="form-control"
          name="listing[title]"
          placeholder="enter title"
          required
        />
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Please enter valid title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-lable">Enter Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          required
        ></textarea>
        <div class="valid-feedback">Discription looks good</div>
        <div class="invalid-feedback">Please enter valid Discription</div>
      </div>
      <div class="mb-3">
        <label class="form-lable" for="image">Enter Image Link or Url</label>
        <input
          class="form-control"
          type="text"
          name="listing[image]"
          placeholder="enter Img URL/Link"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label class="form-lable" for="price">Enter Price</label>
          <input
            class="form-control"
            name="listing[price]"
            placeholder="1200"
            required
          />
          <div class="valid-feedback">Price looks good</div>
          <div class="invalid-feedback">Please enter valid Price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label class="form-lable" for="country">Enter Country</label>
          <input
            class="form-control"
            type="text"
            name="listing[country]"
            placeholder="India"
            required
          />
          <div class="valid-feedback">Country looks good</div>
          <div class="invalid-feedback">Please enter valid Country</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-lable" for="location">Enter Location</label>
        <input
          class="form-control"
          type="text"
          name="listing[location]"
          placeholder="Agra, Uttar-Pradesh"
          required
        />
        <div class="valid-feedback">Location looks good</div>
        <div class="invalid-feedback">Please enter valid Location</div>
      </div>
      <button class="btn btn-dark mt-4 add-btn">Add</button>
    </form>
    <br /><br />
  </div>
</div>
